<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/index.css">
        <!-- <script type="text/javascript" src="../static/java.js" async></script> -->
        <title>Index</title>
    </head>
    <body>
        <form action="" method="POST">
            <label>Enter Username</label>
            <br><br>
            <input name="username" type="text" placeholder="Username"/>
            <br><br><br>
            <label>Enter Message</label>
            <br><br>
            <textarea name="message" cols="30" rows="10"></textarea>
            <br><br>
            <button type="submit">Submit</button>
        </form>

        {% for m in messages %}
            <p>{{m}}</p>
        {% endfor %}

    </body>
</html>