<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/index.css">

        <link rel="shortcut icon" href="https://pocketsergeant.files.wordpress.com/2015/09/work-in-progress.png">

        <title>Sign Up</title>
    </head>
    
    <body>
        <form action="#" method="POST">
            <label>Enter Username</label>
            <br><br>
            <input name="username" type="text" placeholder="Username"/>
            <br><br><br>
            <label>Enter Password</label>
            <br><br>
            <input name="password" type="password" placeholder="Password"/>
            <br><br>
            <button type="submit">Submit</button>
        </form>

    </body>
</html>